.container {
    margin: 20px;
    width: 320px;
}

.picture {
    height: 350px;
    width: 320px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerNameAndDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.name {
    margin: 15px 0 0 15px;
}

.description {
    margin: 0 0 15px 15px;
}

@media screen and (max-width: 374px) {
    .container .picture {
        width: 100%;
    }
}

/*

.text {
    padding: 5px;
    background-color: #d8d8d8;
}

.listOfMySkills {
    width: 100%;
    height: 66%;
    margin: auto;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}*/
