.skills {
    min-height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.mySkillsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.mySkills {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.text {
    padding: 5px;
    background-color: #d8d8d8;
}

.listOfMySkills {
    width: 100%;
    margin: auto;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.picture1 {
    background-color: #d8d8d8;
}

.picture2 {
    background-color: #68de23;
}

.picture3 {
    background-color: #1600de;
}