.footer {
    height: 180px;
    background-color: #acdec7;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.myFooter{
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

}

.socialBlock {
    width: 500px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.text {
    padding: 5px;
    background-color: #d8d8d8;
}

.pictureSquare1 {
    background-color: #1600de;
}
.pictureSquare2 {
    background-color: #69696a;
}

.pictureSquare3 {
    background-color: #de6fa4;
}

.pictureSquare4 {
    background-color: #deca2c;
}

@media screen and (max-width: 626px) {
    .socialBlock {
        width: 100%;
    }
}


